body {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; 
    font-family: Arial, sans-serif;
    margin: 0; 
    overflow-y: auto; 
}

h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0; 
    max-width: calc((100vw - 60px) * 0.70); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-grid > a, 
.image-grid > img {
    display: block;
    padding: 0; 
    margin: 0;
}

.image-grid img {
    width: 100%;
    aspect-ratio: 4 / 3; 
    object-fit: cover; 
    display: block; 
}


@media (max-width: 768px) {
 
    .image-grid {
        max-width: calc(100vw - 60px); 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-rows: minmax(min-content, auto);
        gap: 0;
        margin: 30px auto; 
        align-content: start; 
    }

    .image-grid > * { 
        display: flex;
        justify-content: center; 
        align-items: center; 
        padding: 0;
        margin: 0;
    }

    .image-grid img {
        width: 30vw; 
        aspect-ratio: 4 / 3; 
        object-fit: cover;
    }

    .image-grid > *:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 2; }
    .image-grid > *:nth-child(2) { grid-column: 1 / 2; grid-row: 2 / 3; }
    .image-grid > *:nth-child(3) { grid-column: 1 / 2; grid-row: 3 / 4; }
    .image-grid > *:nth-child(4) { grid-column: 1 / 2; grid-row: 4 / 5; }

    .image-grid > *:nth-child(5) { 
        grid-column: 2 / 3; 
        grid-row: 1 / 5; 
        align-items: center; 
    }

    .image-grid > *:nth-child(6) { grid-column: 3 / 4; grid-row: 1 / 2; }
    .image-grid > *:nth-child(7) { grid-column: 3 / 4; grid-row: 2 / 3; }
    .image-grid > *:nth-child(8) { grid-column: 3 / 4; grid-row: 3 / 4; }
    .image-grid > *:nth-child(9) { grid-column: 3 / 4; grid-row: 4 / 5; }
}